.container {
}

.title {
  margin: 50px 0px;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: row;
  gap: 20px;
}

.category {
  display: flex;
  align-items: center;
  gap: 10px;
  text-transform: capitalize;
  width: 15%;
  height: 80px;
  justify-content: center;
  border-radius: 10px;
  background-color: inherit; /* Keeps the initial color */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.category:hover {
  transform: translateY(-5px); /* Slight lift effect */
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2); /* Add shadow */
}

.category.style {
  background-color: #8226a031;
}

.category.fashion {
  background-color: #da85c731;
}

.category.food {
  background-color: #1de73f33;
}

.category.travel {
  background-color: #bb310f36;
}

.category.culture {
  background-color: #ffb04f45;
}

.category.coding {
  background-color: #5e4fff31;
}

.image {
  border-radius: 50%;
  transition: transform 0.3s ease; /* Smooth scaling for image */
}

.category:hover .image {
  transform: scale(1.2); 
}


@media screen and (max-width: 1280px) {
  .category {
    width: 20%;
  }
}
@media screen and (max-width: 1024px) {
  .category {
    width: 25%;
  }
}
@media screen and (max-width: 768px) {
  .category {
    width: 45%;
  }
}
@media screen and (max-width: 640px) {
  .category {
    width: 100%;
  }
}
